.login{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background-color: blanchedalmond;
    padding: 20px 1px;
    border-radius: 4px;
    width: 50%;
}

.login button{
    background-color: azure;
    border: 1.5px rebeccapurple solid ;
    border-radius: 4px;
    margin: 20px 8px;
    padding: 8px;

}

.login button:hover{
    background-color: rgb(240, 240, 255);
    border: 1.5px rgb(239, 39, 13) solid ;

}

.login span{
    color: red;
}