.login{
    border: 1px  solid black;
    border-radius: 14px;
    display: grid;
    place-items: center;
    text-align: center;
    flex-direction: column;
    color: white;
   
}

.login img{
    border: 1px  solid black;
    width: 160px;
    border-radius: 80px;
    margin: 8px;
}

.login button{
    margin: 8px;
}


/* .login button{
    background-color: azure;
    border: 1.5px rebeccapurple solid ;
    border-radius: 4px;
    margin: 20px 8px;
    padding: 8px;

}

.login button:hover{
    background-color: rgb(240, 240, 255);
    border: 1.5px rgb(239, 39, 13) solid ;

} */

.login span{
    color: red;
}