.cardST{
    border: 1px  solid rgb(51, 0, 255);
    border-radius: 14px;
    width: 140px;
    font-size: 0.5em;
    color: antiquewhite; 
    margin: 8px;
    
}

.cardST img{
    width: 140px;
}


.close{
    display: flex;
    justify-content: flex-end;
}
.info{
    text-align: center;
}
.info img{
    border-radius: 6px;
}